.body {
  margin: 0;
  text-align: center;
}
.main-container {
  /* light-mode */

  width: 550px;
  height: 729px;
  margin-left: auto;
  margin-right: auto;

  background: #f4f4f4;
}

.input-container {
  /* background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 285px;

  background: #6943ff;
}

.heading {
  /* Heading */

  width: 448.4px;
  height: 38px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  /* identical to box height, or 136% */
  text-align: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.input-field {
  /* Rectangle 14 */

  box-sizing: border-box;

  width: 117px;
  height: 83px;

  border: 2px solid #b295ff;
  border-radius: 5px;
  font-weight: 800;
  font-size: 4rem;
  background-color: transparent;
  color: white;
  text-align: center;
}
#convert-btn {
  /* Button */

  width: 117px;
  height: 42px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-top: 30px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card {
  /* Grid Lists/Card */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;

  width: 500px;
  height: 108.57px;

  /* white */
  background: #ffffff;
  border-radius: 4.68077px 0px 0px 0px;
}
.title-text {
  /* Supporting text */
  margin: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

  /* or 100% */
  text-align: center;

  color: #5a537b;
}
.content-text {
  /* Supporting text */
  margin: 0;
  /* text-sm/leading-5/font-normal */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  /* or 143% */
  text-align: center;

  color: #353535;
}
